<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars!</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <h2>Latest Mars News</h2>
    <h3>{{ mars.news_title }}</h3>
    <h3>{{ mars.news_p }}</h3>
    <div class = 'row'>
        <div class = 'col-lg-6'>
            <h2>Featured Mars Image</h2>
            <img src="{{ mars.mars_img }}" alt="Mars Image">
        </div>
        <div class = 'col-lg-6'>
            <h2>Mars Facts</h2>
            {{ mars.mars_facts|safe }}
        </div>
    </div>

    <div class = 'row'>
        <h2 style='text-align: center;'>Mars Hemispheres</h2>
        
        {% for item in mars.hem_imgs %}

        <div class = 'col-lg-3'>
            <div class="card">
                <img class="card-img-top" src="{{ item.img_url }}" alt="Hemisphere Image" style="width: 100%; height: auto; object-fit: cover;">
                <div class="card-body">
                  <h3 class="card-title">{{ item.title }}</h3>
                </div>
              </div>
        </div>
        
        {% endfor %}

    </div>
    
  </div>
  </div>
</body>

</html>